[submodule "roles/system"]
	path = roles/system
	url = https://github.com/ct-Open-Source/telerec-t-debian.git
	branch = main
[submodule "roles/compose_hull"]
	path = roles/compose_hull
	url = git@github.com:MartinKirchner/telerec-t-compose-hull.git
	branch = main
[submodule "roles/traefik"]
	path = roles/traefik
	url = git@github.com:MartinKirchner/telerec-t-traefik.git
	branch = main
[submodule "roles/portainer"]
	path = roles/portainer
	url = git@github.com:MartinKirchner/telerec-t-portainer.git
	branch = main
[submodule "roles/watchtower"]
	path = roles/watchtower
	url = git@github.com:MartinKirchner/telerec-t-watchtower.git
    branch = main
[submodule "roles/autoheal"]
	path = roles/autoheal
	url = https://github.com/ct-Open-Source/telerec-t-autoheal.git
	branch = main
[submodule "roles/mariadb"]
	path = roles/mariadb
	url = git@github.com:MartinKirchner/telerect-mariadb.git
[submodule "roles/whoami"]
	path = roles/whoami
	url = git@github.com:MartinKirchner/telere-ct-whoami.git
[submodule "roles/nextcloud"]
	path = roles/nextcloud
	url = git@github.com:MartinKirchner/telere-ct-nextcloud.git
